/*	
	Mediante el registro de eventos recomendado por la W3C, 
	entrega una página donde muestres información referente 
	a todos los eventos del Ratón.
	
	@author Estela Muñoz Cordón
*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: arial, helvetica;
	font-size: 16px;
}

h1{
	text-align: center;
	font-size: 2rem;
	margin: 2rem;
}

#info {
	text-align: justify;
	*margin: 0 auto;
	margin-left: 10%;
	width:80%; 
	border:thin solid silver; 
	position:fixed;
}

#info h2 {
	font-size: 1.2rem;
	background-color: silver;
	padding: 0.5rem;
}

#1, #2{
	display: inline;
	float: left;
}

span{
	display: block;
	padding: 0.5rem;
}

p{
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
}