*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body{
	padding: 20px;
	text-align: center;
	background-color: #432D20;
	*background-color: #1F1611;
}

main{
	*width: 80%;	
	*margin: 0 auto;
	vertical-align: middle;
}

h1{
  margin: 0.7rem;
	color: #47650B;
	color: #87930B;
	font-size: 45px;
	text-shadow: 5px 5px 10px #1F1611;
	transition: all 1s;
}

h1:hover{
	opacity: 0.7;
	text-shadow: 5px 5px 10px black;
}

button{
	background-color: #47650B;
	border: 3px solid #87930B;
	border-radius: 50px 5px;
	padding: 10px 25px;
	color: white;
	font-weight: bold;
	font-size: 25px;
	box-shadow: 3px 3px 20px grey;
	transition: all 1s;
	animation-name: letras;
	animation-duration: 5s;
}

@keyframes letras {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

button:hover{
	opacity: 0.7;
	background-color: #87930B;
	box-shadow: 5px 5px 10px #1F1611;
}

img{
	max-width: 20rem;
  max-height: 4.5rem;
	*margin: 0 auto;	
}