*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body{
	*padding: 20px;
	*text-align: center;
	background-color: #432D20;
	*background-color: #1F1611;
	font-size: 16px;
}

*main{
	*width: 80%;	
	*margin: 0 auto;
	*vertical-align: middle;
}

h1{
  margin: 3rem;
	color: #47650B;
	color: #87930B;
	font-size: 55px;
	text-shadow: 5px 5px 10px #1F1611;
	transition: all 1s;
}

h1:hover{
	opacity: 0.7;
	text-shadow: 5px 5px 10px black;
}

a{
	color: white;
}

nav{
	background-color: #47650B;
	min-height: 3.5rem;
	font-weight: bold;
	font-size: 1.2rem;
}

nav ul li{
	display: inline-block;
	margin: 1rem;
}

nav ul li a:hover{
	color: #432D20; 
	*color: #1F1611;
	*text-shadow: 1px 1px 20px white;
	*text-decoration: underline;
}

form{ 
  -moz-column-count: 2;
  -moz-column-gap: 0.5rem;
	-webkit-column-count: 2;
  -webkit-column-gap: 0.5rem;
	-o-column-count: 2;
  -o-column-gap: 0.5rem;
  *-moz-column-rule: 1px solid green;
  text-align: left;
  width: 80%;
  *margin: 0 auto;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
  *display: inline-table;
  font-size: 1.2rem;
}

label{
	*display: inline;
	color: #87930B;
  *margin-left: 0.9rem;
	margin-right: 0.7rem;
}

input{
	margin-bottom: 2.5rem;	
}

#reservar{
  margin: 0 auto;
  margin-bottom: 1.3rem;
	background-color: #47650B;
	border: 0.2rem solid #87930B;
	border-radius: 9rem 1rem;
	padding: 0.5rem 0.9rem;
	color: white;
	*font-weight: bold;
	display: block;
	box-shadow: 3px 3px 20px grey;
	transition: 1s all;
}

#reservar:hover{
	background-color: #87930B;
	border-color: #47650B;
	box-shadow: 3px 3px 8px #1F1611;
	color: #1F1611;
	transform: rotate(-360deg);
}

footer{
	background-color: #47650B;
	color: white;
	padding: 3rem;
	min-height: 7.5rem;
}

h3{
	font-size: 1rem;
}

p{
	margin-top: 0.5rem;
	font-size: 0.9rem;	
}