*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
	font-size: 16px;
  background: url("../img/fondoVertical.jpg") no-repeat;
  background-size: 25rem;
	text-align: center;
	padding-top: 45%;
	padding-bottom: 50%;
}

main{
  opacity: 0;
	font-size: 1.5rem;
	color: white;
	text-shadow: 3px 3px 5px black;
}

.adorno>img{
	width: 90%;
}

button{
	background-color: white;
	color: #819142;
	padding: 0.6rem;
	border: 0;
	border-radius: 0.3rem;
}

@media screen and (min-width:360px){
	body{
		background-size: 35rem;
	}
}

@media screen and (min-width:480px){
  body{
		background: url("../img/fondo.jpg") no-repeat;
		background-size: cover;
		padding: 0;
	}
	main{
		padding: 12%;
	}
	h1{
		font-size: 300%;
	}
	button{
		font-size: 160%;
	}
}