*{ /*todo*/
	font-family: sans-serif;
	text-align: justify;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

/* NAVEGADOR */

nav  ul  li{ 
	display: inline-block; 
}

/* Para todos los enlaces de una <li> de una <ul> del <nav> */
nav  ul  li  a{
	*background-color: black;
	*background: rgba(0,0,0,0.5);
	text-shadow: 0px 0px 20px black; /* de profundidad 10 y de color blanco */ 
	color: white;
	display: block; /* Se pone uno encima de otro si se quita, porque se comportan como líneas */
	*border: 1px solid;
	padding: 10px 12px;
}

/* Para todos los enlaces (de <li> de <ul> de <nav>) 
al poner el ratón por encima */
nav  ul  li  a:hover{
	background-color: grey;
}

nav{
	background: rgba(0,0,0,0.5);
	*padding:20px;
	margin: 0 auto;
	*border: 1px solid red;
	*background-color: black;
	border: 2px solid white;

}


/* ------------------------------------------------------------------------------------------------ */
/* CABECERA */

h1, h2, h5{
	text-align: center;
	color: white;
	text-shadow: 0px 0px 30px black; /* de profundidad 10 y de color blanco */ 
}

h1{
	padding-top: 20px;
	font-size: 35px;
	animation: parpadeo 5s infinite;
}

@keyframes parpadeo {
	0%{text-shadow: 0px 0px 10px white;}
	50%{text-shadow: 0px 0px 50px white;}
	100%{text-shadow: 0px 0px 10px white;}
}

h2{
	margin: 20px;
	*padding-bottom: 20px;
	font-size: 20px;
}

h3{
	padding-bottom: 10px;
}

h4{
	font-size: 20px;
	padding-bottom: 10px;
	text-decoration: underline;
}

h5{
	font-size: 15px;
	margin: 20px;
}

/*----------------------------------------------------------------------------------------------------*/
/*BODY*/
body{
	background: url('../img/mujer.jpg'); 
	background-repeat: no-repeat;
	background-size: cover; /*o cover*/
}

/* CUERPO */
main{
	text-align: left;
	margin: auto;
	width: 80%; 
	position: relative;

	border: 2px solid white;
	box-shadow: 0px 0px 10px white;
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
}

/* CABECERA */
header{
	padding: 10px;
	background: rgba(0,0,0,0.5);
	margin: auto; 
	/*0 auto --> 0 de margen y la coloca dentro del contenido padre*/
	text-align: left;
	height: 100px;
	/* evita el desbordamiento --> si se desborda el contenido, se oculta */
	*overflow: hidden; 
	border: 2px solid white;
	border-radius: 53px 53px 5px 5px;
	box-shadow: 0px 0px 20px white; /* de profundidad 10 y de color blanco */ 
	width: 80%;
}

footer{
	margin: auto;
	text-align: center;
	*padding: 0; /* se puede poner o no "px" */
	border: 2px solid white;
	background: rgba(0,0,0,0.5);
	border-radius: 0 0 35px 35px;
	box-shadow: 0 0 10px white;
}

--#contenido{
	border: 2px solid white;
	box-shadow: 0px 0px 10px white;
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
}

/*--------------------ARTICLE-------------------------------*/

#secciones{
	width: 80%;
}

article{
	color: white;
	text-shadow: 0px 0px 20px black;
	background: rgba(0,0,0,0.5);
	width: 55%;
	*background: rgba(255, 255, 255, 0.5);
	margin: 10px;
	border: 1px solid white;
	border-radius: 0px 25px 0px 25px;
	box-shadow: 3px 3px 10px black;
	padding: 10px 10px 10px 150px;
	/* da opacidad de la caja --> color de fondo no tiene que ver con la caja
	 * dice la opacidad que tendrá la caja, si no digo nada será 1 
	 * se mezcla todo --> toda la caja entera se hace opaca
	 */
	*opacity: 1; 
	transition: all, 1;
}

article:hover{ /* Al poner el cursos sobre el artículo */
	*color: rgba(0, 0, 0, 1);
	*background: rgba(255, 255, 255, 1);
	*opacity: 1;
	transform:scale(1.1, 1.1); /* aumenta el tamaño */
}


/*---------------------ASIDE---------------------------------*/

aside{
	float: right; /* se recomienda evitarlos cuando se usa responsive */
	color: white;
	text-shadow: 0px 0px 20px black;
	width: 20%;
	background: rgba(0,0,0,0.5);
	margin: 10px;
	padding: 10px;
	border:1px solid white;
	box-shadow: 3px 3px 10px black;
	border-radius: 0px 25px; /* lo mismo que poner 0px 25px 0px 25px */
	*vertical-align: top;
	width: 20%;
}

aside ul{
	padding: 0;
	*text-decoration: none;
	color: white;
	list-style: none;
	font-size: 10px;
	font-size: 15px;
}

*aside ul li{
	border: 1px solid white;
	border-radius: 0px 5px;

}

aside ul li a{
	color: white;
	overflow: hidden;
	padding: 5px;
	text-decoration: none;
	text-shadow: 0px 0px 20px black;
	transition: all, 1;
}

aside ul li a:hover{
	*color: black;
	font-size: 17px;
	*text-shadow: 0px 0px 10px white;
	text-decoration: underline;
	*transform:scale(1.1, 1.1); /* aumenta el tamaño */
}

